@font-face {
    font-family: "PRegular";
    src: url("8bitOperatorPlus8-Regular.ttf");
}
@font-face {
    font-family: "PBold";
    src: url("8bitOperatorPlus8-Bold.ttf"); /* see /license.txt */
}
::selection {
    background-color: beige;
    color: black;
}
body {
    padding: 0px;
    margin: 0px;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    color: beige;
    text-shadow: 1px 1px black;
    font-family: PRegular;
}
td {
    padding: 10px;
}
a {
    color: beige;
}
a:hover {
    color: darkorange;
}
.card {
    display: table-cell;
    vertical-align: middle;
}
.content {
    padding: 20px 50px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    background-color: midnightblue;
    border: 5px solid beige;
}
.address {
    text-align: center;
    margin: 0px;
    text-shadow: 3px 3px black;
    font-family: PBold;
}
.address-desc {
    text-align: center;
    text-shadow: 2px 2px black;
    font-size: 24px;
}
.links {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    font-size: 24px;
}